.vscode/
bearx.egg-info/
build/
dist/
bear-x/.ipynb_checkpoints/
bear-x/Untitled.ipynb
bear-x/Untitled2.ipynb
*/__pycache__/
bear-x/utils/data/__pycache__
tags
.mypy_cache/
.idea/
model_data/
tags
bearx/utils/data/__pycache__/DataLoader.cpython-36.pyc
bearx/utils/data/__pycache__/*
*__pycache__*
*__init__.pyc*
bearx/utils/data/__pycache__/DataLoader.cpython-36.pyc
